[Desktop Entry]
Comment=
Terminal=false
Name=Index new documents
Exec=/usr/bin/opensemanticsearch_index_dir_zenity /home/user/Documents
Type=Application
Icon=document-open-symbolic
